<!DOCTYPE html>
<html>
<head>
	<title><%= data.title %></title>
	<link rel="stylesheet" type="text/css" href="/public/blogmain.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
<body>

	<div id="body">
	<nav class="navbar navbar-default">
  <div class="container-fluid" style="font-size: 23px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home" style="font-size: 24px;">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=><a href="/home">Home</a></li>
      <li><a href="/upload">Upload</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>

	<h1><%= data.title %></h1>
	<% var arr = data.body.split("\r\n"); %>

		<%for(var i=0; i < arr.length; i++){ %>
		<% console.log(arr); %>
		<% if(arr[i]==="\r" || arr[i]==="\n" || arr[i] == ""){ %> 
		<%	continue; %>
		<% } %>
		 <p><%= arr[i]; %> </p>
	<% } %>
<!---	<p style="max-width: 100%;"><%= data.body %><p> -->

</div>
</body>
</html>